# Go build artifacts
bin/
*.exe
*.zip
*.test
*.out
#*.jar
*.aar
/AppTemplate/.native/ios/SweetJuice.xcframework/
*.so
/vendor/
/dist/

#Temps
./_examples/
/wailsm
/wailsm.sh.x.c

# IDE/editor
.idea/
*.iml
.vscode/
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Android / Gradle build artifacts
**/build/
**/.gradle/
**/local.properties
**/captures/

/TODOs.md

# Generated Android library outputs
/AppTemplate/.native/android/*.iml
/AppTemplate/.native/android/.gradle
/AppTemplate/.native/android/local.properties
/AppTemplate/.native/android/.idea/
/AppTemplate/.native/android/.idea/caches
/AppTemplate/.native/android/.idea/libraries
/AppTemplate/.native/android/.idea/modules.xml
/AppTemplate/.native/android/.idea/workspace.xml
/AppTemplate/.native/android/.idea/navEditor.xml
/AppTemplate/.native/android/.idea/assetWizardSettings.xml
/AppTemplate/.native/android/.DS_Store
/AppTemplate/.native/android/build
/AppTemplate/.native/android/captures
/AppTemplate/.native/android/.externalNativeBuild
/AppTemplate/.native/android/.cxx
/AppTemplate/.native/android/local.properties
/AppTemplate/.native/android/app/libs

# Temporary files
temps/
temp/
*.xip
./sweetjuice-docs
./test/
.build/android/*
./build/ios/*
.future.md
/AppTemplate/bindings
/AppTemplate/.native/android/app/libs/*.jar
/AppTemplate/.native/android/app/libs/*.aar
/AppTemplate/.native/ios/*.xcframework
/AppTemplate/frontend/dist/
/AppTemplate/frontend/node_modules/
